html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: #0469c1;
  text-decoration: none;
}

a:hover {
  transition: 275ms;
}

a.highlight {
  border-bottom: 2px solid #0469c1;
  padding: 0.1rem 0.2rem;
}

a.highlight:hover {
  color: #fff;
  background-color: #0375d8;
}
